.v-main{
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYwIiBoZWlnaHQ9IjEyNiIgdmlld0JveD0iMCAwIDM2MCAxMjYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMCAwTDIwLjEgMTguNjY2N0MzOS45IDM3LjMzMzMgODAuMSA3NC42NjY3IDEyMCA4MS42NjY3QzE1OS45IDg4LjY2NjcgMjAwLjEgNjUuMzMzMyAyNDAgNTguMzMzM0MyNzkuOSA1MS4zMzMzIDMyMC4xIDYwLjY2NjcgMzM5LjkgNjUuMzMzM0wzNjAgNzBWMTI2SDMzOS45QzMyMC4xIDEyNiAyNzkuOSAxMjYgMjQwIDEyNkMyMDAuMSAxMjYgMTU5LjkgMTI2IDEyMCAxMjZDODAuMSAxMjYgMzkuOSAxMjYgMjAuMSAxMjZIMFYwWiIgZmlsbD0iIzZCNzNGRiIvPgo8L3N2Zz4K);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}